name: Integrate and Deploy to Production
on:
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Execute Remote Deployment Script
              uses: appleboy/ssh-action@v1.0.3
              with:
                    host: ${{ secrets.SERVER_IP }}
                    port: ${{ secrets.SERVER_SSH_PORT }}
                    username: ${{ secrets.SERVER_USER }}
                    key: ${{ secrets.SSH_PRIVATE_KEY }}
                    script: |
                        # 1 Move to the app dir
                        cd /opt/mailz-net/

                        # 2 Fetch the latest code
                        git pull origin main

                        # 3 Build the project
                        dotnet build
                        
                        # 4 Restart the service
                        # ./opt/mailz-net/Mailz/bin/Debug/net10.0/linux-x64/Mailz
                        sudo systemctl restart mailz.service